<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          More filters <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">
			<%= search_form_for @search, url: search_path, remote: true do |f| %>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Financial Aid</label>
            <%= f.select :financial_aid_eq_any, [["Generous merit and need-based aid","Generous merit and need-based aid"], ["Competitive","Competitive"], ["None","None"]], :include_blank => "Select...", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Institutional Type</label>
            <%= f.select :institutional_type_eq_any, [["Charter school","Charter school"],
             ["Language immersion school","Language immersion school"],["Magnet school","Magnet school"], ["Montessori school","Montessori school"],
             ["Parochial school","Parochial school"], ["Private special education school","Private special education school"], ["Reggio Emilia school","Reggio Emilia school"],
             ["Religious school","Religious school"], ["Traditional private school","Traditional private school"], ["Traditional public school","Traditional public school"],
             ["Virtual or Online school","Virtual or Online school"], ["Waldorf school","Waldorf school"]], :include_blank => "Select...", class: "form-control" %>
          </div>
        </div>
      </div>

      <hr>

				<div class="row">
					<div class="col-md-4">
						<%= check_box_tag "q[diploma_eq][]", "Diploma" %> Diploma
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[boarding_eq][]", "Boarding" %> Boarding
					</div>

				</div>

        <br>
				</div>
				<div class="row text-center">
					<%= f.submit "Search", class: "btn btn-primary" %>
				</div>

			<% end %>


      <br>
      <div class="row" id="school_profile">
				<%= render partial: "schools/schools_list", locals: {schools: @arrSchools} %>
			</div>


		</div>

	</div>
	<div id="right">
    <!-- GOOGLE MAP WILL BE HERE -->

		<div id="map" style="width: 100%; height: 100%"></div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize(schools) {
          //var location = {lat: 44.5403, lng: -78.5463}


          var location = {lat: schools[0].latitude, lng: schools[0].longitude}


          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker, inforwindow;

          schools.forEach(function(school) {
            marker = new google.maps.Marker({
              position: {lat: school.latitude, lng: school.longitude},
              map: map
            });

            inforwindow = new google.maps.InfoWindow({
              content: "<div class='map_price'>" + school.school_name + "</div>"
            });

            inforwindow.open(map, marker);
          })
        }

        google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrSchools.to_json %>)
        });
    </script>
  </div>
</div>

<script>

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("More filters <i class='fa fa-chevron-up'></i>")
    } else {
      $('#filter').html("More filters <i class='fa fa-chevron-down'></i>")
    }
    open = !open;
  });
</script>
