<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Schools you added", schools_path, class: "sidebar-link active" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Schools
			</div>
			<div class="panel-body">

				<% @schools.each do |school| %>
					<div class="row">
						<div class="col-md-2">
							<% if school.photos.count > 0 %>
								<%= image_tag school.photos[0].image.url(:thumb) %>
							<% else %>
								<%= image_tag ("default_school.png"), class: "img-responsive" %>
							<% end %>
						</div>
						<div class="col-md-7">
							<h4><%= school.school_name %></h4>
						</div>
						<div class="col-md-3 right">
							<%= link_to "Update", edit_school_path(school), class: "btn btn-primary" %>
						</div>
					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>
